* {
  box-sizing: border-box; }

html, body {
  margin: 0px;
  padding: 0px; }

body {
  width: 100%;
  font-size: 14px;
  font-family: "Open Sans", sans-serif; }

h1, h2, h3, h4 {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px; }

p {
  margin: 0px; }

a {
  text-decoration: none;
  color: inherit; }

a:visited {
  color: inherit; }

@keyframes header-anim {
  from {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.25); }
  50% {
    box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.25); }
  to {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.25); } }
#root {
  width: 100%;
  /* height: 1470px; */ }

.limitation {
  width: 61%;
  height: 100%;
  margin: 0px auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }

.spacer {
  width: 100%;
  margin: 30px 0px; }

.text-limiter {
  width: 52%;
  margin: 0px auto;
  text-align: inherit; }

header {
  width: 100%;
  height: 825px;
  background-image: url("../img/headerBG2.png");
  background-size: 100% 100%;
  margin-bottom: 20px; }
  header .limitation {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between; }

#header-top {
  width: 100%;
  height: 132px;
  display: flex;
  flex-flow: row wrap; }
  #header-top a, #header-top nav {
    margin: auto 0px; }
  #header-top nav {
    flex: 1 1 auto; }
    #header-top nav ul {
      margin: 0px;
      padding: 0px;
      display: flex;
      flex-flow: row-reverse nowrap;
      color: #f4f5f9; }
      #header-top nav ul li {
        box-sizing: content-box;
        list-style-type: none;
        text-align: center;
        padding-bottom: 15px;
        margin: 0 20px;
        text-transform: uppercase; }
        #header-top nav ul li:hover {
          color: #e74c3c;
          border-bottom: 1px solid #e74c3c;
          cursor: pointer;
          padding-bottom: 14px; }

#header-description {
  width: 100%;
  flex: 1 1 auto;
  text-align: center;
  color: #cbc6c0;
  margin-top: 125px; }
  #header-description h1, #header-description h2 {
    color: #f4f5f9; }
  #header-description h1 {
    text-transform: uppercase;
    margin: 0px auto;
    font-size: 5em; }
  #header-description h2 {
    text-transform: capitalize;
    margin: 0px auto 30px auto;
    font-weight: normal; }
  #header-description .text-limiter {
    margin-bottom: 58px; }

.helper-buttons {
  width: 41%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between; }

.helper-button {
  width: 47%;
  color: #ffffff;
  padding: 18px 0px;
  font-weight: bold;
  border: 1px solid #ffffff;
  cursor: pointer;
  border-radius: 3px; }
  .helper-button:hover {
    background-color: #e74c3c;
    box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
    border: 0px solid #ffffff; }

#header-pivot {
  margin: 0px 0px -23px 3px;
  width: 100%;
  text-align: center; }

#header-pivot-body {
  padding: 8px 14px;
  border-radius: 100px;
  background-color: #f4f5f9;
  display: inline-block;
  cursor: pointer; }
  #header-pivot-body:hover {
    animation: header-anim 1s ease-in-out infinite; }

main {
  width: 100%; }

.main-margin {
  padding: 120px 0px; }

.alone {
  margin: 0px auto; }

#competence {
  width: 100%;
  padding: 80px 0px; }

.competence-item {
  width: 21%;
  text-align: center; }
  .competence-item p {
    color: #999999;
    font-size: 0.85em;
    font-family: "Source Sans Pro Light" sans-serif; }
  .competence-item h3 {
    color: #6a6a6a;
    text-transform: uppercase;
    font-size: 1.5em; }
  .competence-item .spacer {
    width: 30%;
    margin: 18px auto;
    border: 1px solid #6a6a6a; }

.competence-bg:hover .competence-bg-border {
  box-shadow: none;
  border: 1px solid #e74c3c; }

.competence-bg:hover h3 {
  color: #e74c3c; }

.competence-bg-border {
  border-radius: 2px;
  margin: 0px auto;
  display: flex;
  width: 75px;
  height: 75px;
  box-shadow: 0px 0px 0px 1px rgba(153, 153, 153, 0.25);
  margin-bottom: 31px; }

.competence-item:first-child .competence-bg-border {
  transform: rotateZ(45deg); }
.competence-item:first-child .competence-bg img {
  transform: rotateZ(-45deg); }

.competence-bg img {
  margin: auto; }

#team {
  background-image: url("../img/teamBG.png");
  background-color: #6e6e6e;
  background-blend-mode: multiply;
  background-size: 100% 100%;
  padding-top: 120px; }

#team-graphic {
  background-image: url("../img/curve.png");
  background-blend-mode: multiply;
  background-size: 100% 100%;
  height: 35%;
  text-align: center; }

#team-header {
  display: inline-block;
  margin-bottom: 100px; }
  #team-header h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0px 0px 28px 0px; }
  #team-header h4 {
    color: #f4f5f9;
    font-weight: normal;
    margin: 0px; }

#team-content {
  width: 100%;
  height: 297px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }

.teammate {
  display: inline-block;
  width: 20%; }

.teammate-photo {
  background-image: url("../img/testphoto.png");
  background-color: #e74c3c;
  width: 88px;
  height: 86px;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  border-radius: 50px;
  border: 5px solid #e74c3c;
  margin: 0px auto;
  cursor: pointer; }
  .teammate-photo:hover {
    background-blend-mode: screen; }

.vert-spacer {
  border: 1px solid white;
  opacity: 0.749;
  width: 1px;
  height: 65px;
  margin: 0px auto; }

.teammate-info {
  font-family: "Source Sans Pro", sans-serif;
  color: white; }
  .teammate-info p:first-child {
    color: #e74c3c;
    font-size: 1.7em;
    text-transform: uppercase;
    margin-bottom: 12px; }

.misterclass {
  background-image: url("../img/pas_1.jpg"); }

.nadya {
  background-image: url("../img/pas_2.jpg");
  margin-top: 8px; }

.stroganov {
  background-image: url("../img/pas_3.jpg");
  background-size: 180% 180%;
  background-position: top center;
  margin-top: -20px; }

.zab {
  background-size: 1200% 1200%;
  background-position: 41% 42%;
  background-image: url("../img/pas_4.jpg"); }

footer {
  background-color: #202020;
  width: 100%;
  height: 75px; }
  footer span:last-child {
    margin: auto 0px;
    color: #999999; }

#socials {
  margin: auto 0px; }
  #socials img {
    width: 32px;
    height: 32px; }

.history {
  margin: 80px 0px; }
  .history:not(:last-child) {
    margin: 80px 0px;
    width: 100%;
    padding: 120px 0px;
    box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25); }

.history-bg {
  width: 43%;
  height: 339px;
  background-size: 100% 100%;
  flex: 0 0 auto; }

.about-bg {
  background-image: url("../img/monitor.png"); }

.music-bg {
  background-image: url("../img/music-bg.jpg"); }

.film-bg {
  background-image: url("../img/film-bg.jpg"); }

.music-bg, .film-bg {
  height: 248px; }

.history-content {
  width: 50%;
  flex: 0 0 auto; }

.history-content-header {
  width: 100%; }
  .history-content-header h1 {
    color: #6a6a6a;
    text-transform: uppercase;
    box-sizing: content-box;
    padding-left: 24px;
    border-left: 6px solid #e74c3c; }

.history-text {
  margin: 38px 0px; }
  .history-text p:not(:last-child) {
    margin-bottom: 22px; }
  .history-text .history-text p {
    color: #999999; }

.history-content .helper-button {
  text-align: center;
  background-color: #e74c3c;
  box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
  border: 0px solid #ffffff; }

table {
  width: 100%;
  border: 1px solid #e6e6e6;
  margin: 120px 0px;
  color: #999999;
  border-bottom-width: 0px; }
  table caption {
    color: #6a6a6a;
    font-size: 2.6em;
    font-weight: bolder;
    margin-bottom: 15px;
    text-transform: uppercase; }
  table th:not(:last-child),
  table td:not(:last-child) {
    border-right: 1px solid #e6e6e6; }
  table th, table td {
    padding: 8px;
    border-bottom: 1px solid #e6e6e6; }
  table th {
    color: #6a6a6a;
    font-size: 1.2em; }
  table td {
    text-align: center; }
    table td img {
      width: 160px;
      height: 160px; }

#form {
  width: 100%; }
  #form h2 {
    color: #6a6a6a; }
  #form p:first-child {
    margin-top: 25px; }
  #form p:not(:first-child) {
    margin-top: 5px; }
  #form .limitation {
    flex-flow: column nowrap; }

#form p, .feedback-form form input, #form span {
  color: #999999; }

.form-header {
  width: 100%;
  text-align: center; }
  .form-header h2 {
    font-size: 2.6em;
    text-transform: uppercase; }

.feedback {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }
  .feedback > div {
    background-color: #ffffff;
    box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
    padding: 78px 70px; }
  .feedback h3 {
    text-transform: uppercase;
    font-size: 1.65em;
    color: #e74e3e;
    margin-bottom: 25px; }

feedback-info {
  width: 40%; }

.feedback-info-block:not(:last-child) {
  margin-bottom: 57px; }

.feedback-main {
  background-color: #f4f5f9; }

.feedback-form {
  width: 55%; }
  .feedback-form input {
    padding-bottom: 13px;
    font-weight: bolder; }
  .feedback-form p {
    display: inline-block; }
  .feedback-form input[type="text"], .feedback-form input[type="password"] {
    width: 100%;
    border-width: 0px;
    border-bottom: 1px solid #999999; }
  .feedback-form input:focus {
    border-width: 0px;
    outline: none;
    border-bottom: 1px solid #9696ff; }
  .feedback-form input:not(:last-child) {
    margin-bottom: 20px; }
  .feedback-form select {
    display: block;
    width: 25%;
    color: #999999;
    font-weight: bolder;
    border-width: 0px;
    border-bottom: 1px solid #999999; }
  .feedback-form input[type="submit"] {
    display: block;
    margin-top: 30px;
    color: #ffffff; }

/* Placeholders to form */
form input::placeholder {
  color: inherit; }

form input::-ms-input-placeholder {
  color: inherit; }

form input::-webkit-input-placeholder {
  color: inherit; }

form input::-moz-placeholder {
  color: inherit; }

form textarea::placeholder {
  color: inherit; }

form textarea::-ms-input-placeholder {
  color: inherit; }

form textarea::-webkit-input-placeholder {
  color: inherit; }

form textarea::-moz-placeholder {
  color: inherit; }

#courses {
  display: inline-block; }

.form-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }
  .form-buttons input {
    margin: 40px 0px !important; }

.form-spacer {
  margin-top: 20px; }

/*# sourceMappingURL=style.css.map */
