*
{
  box-sizing: border-box;
}

html, body
{
  margin: 0px;
  padding: 0px;
}

body
{
  width: 100%;
  /* height: 1470px; */
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4
{
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px;
}

p
{
  margin: 0px;
}

a
{
  text-decoration: none;
  color: inherit;
}

a:visited
{
  color: inherit;
}

@keyframes header-anim
{
  from
  {
    box-shadow: 0px 0px 0px 2px rgba(255,255,255, 0.25);
  }
  50%
  {
    box-shadow: 0px 0px 0px 8px rgba(255,255,255, 0.25);
  }
  to
  {
    box-shadow: 0px 0px 0px 2px rgba(255,255,255, 0.25);
  }
}

#root
{
  width: 100%;
  /* height: 1470px; */
}

.limitation
{
  width: 61%;
  height: 100%;
  margin: 0px auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

header
{
  width: 100%;
  height: 825px;
  background-image: url("../img/headerBG2.png");
  background-size: 100% 100%;
  margin-bottom: 20px;
}

header .limitation
{
  flex-flow: column nowrap;
}

#header-top
{
  width: 100%;
  height: 132px;
  margin-top: 20px;
  display: flex;
  flex-flow: column nowrap;
}

#header-logo
{
  display: flex;
  flex-flow: row nowrap;
}

#header-logo .dateTime
{
  flex: 1 1 auto;
  text-align: center;
  color: #cbc6c0;
  font-size: 1.8em;
  display: flex;
}

#header-top nav
{
  flex: 1 1 auto;
}

#header-top nav ul
{
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-between;
  color: #f4f5f9;

}

#header-top nav li
{
  box-sizing: content-box;
  list-style-type: none;
  text-align: center;
  padding-bottom: 15px;
  margin: auto 0px;
  text-transform: uppercase;
}

#header-top nav li:hover
{
  color: #e74c3c;
  border-bottom: 1px solid #e74c3c;
  cursor: pointer;
  padding-bottom: 14px;
}



.dateTime span
{
  margin: auto;
}

#header-description
{
  width: 100%;
  flex: 1 1 auto;
  text-align: center;
  color: #cbc6c0;
  margin-top: 125px;
}
#header-description h1, #header-description h2
{
  color: #f4f5f9;
}

#header-description h2
{
  text-transform: capitalize;
  margin: 0px auto 30px auto;
  font-weight: normal;
}

#header-description h1
{
  text-transform: uppercase;
  margin: 0px auto;
  font-size: 5em;
}

.spacer
{
  width: 100%;
  margin: 30px 0px;
}

.text-limiter
{
  width: 52%;
  margin: 0px auto;
  text-align: inherit;
}

#header-description .text-limiter
{
  margin-bottom: 58px;
}

.helper-buttons
{
  width: 41%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

.helper-button
{
  width: 47%;
  color: #ffffff;
  padding: 18px 0px;
  font-weight: bold;
  border: 1px solid #ffffff;
  cursor: pointer;
  border-radius: 3px;
}

.helper-button:hover
{
  background-color: rgb(231, 76, 60);
  box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
  border: 0px solid #ffffff;
}

#header-pivot
{
  margin: 0px 0px -23px 3px;
  width: 100%;
  text-align: center;
}

#header-pivot-body
{
  padding: 8px 14px;
  border-radius: 100px;
  background-color: rgb(244, 245, 249);
  display: inline-block;
  cursor: pointer;
}

#header-pivot-body:hover
{
  animation: header-anim 1s ease-in-out infinite;
}

main
{
  width: 100%;
}

.main-margin
{
  padding: 120px 0px;
}

.alone
{
  margin: 0px auto;
}

#competence
{
  width:100%;
  padding: 80px 0px;
}


.competence-item
{
  width: 21%;
  text-align: center;
}

.competence-item p
{
  color: #999999;
  font-size: 0.85em;
  font-family: "Source Sans Pro Light" sans-serif;
}

.competence-item h3
{
  color: #6a6a6a;
  text-transform: uppercase;
  font-size: 1.5em;
}

.competence-bg:hover h3
{
  color: #e74c3c;
}

.competence-bg:hover .competence-bg-border
{
  box-shadow: none;
  border: 1px solid rgb(231, 76, 60);
}

.competence-bg-border
{
  border-radius: 2px;
  margin: 0px auto;
  display: flex;
  width: 75px;
  height: 75px;
  box-shadow: 0px 0px 0px 1px rgba(153, 153, 153, 0.25);
  margin-bottom: 31px;
}

.competence-item:first-child .competence-bg-border
{
  transform: rotateZ(45deg);
}

.competence-item:first-child .competence-bg img
{

  transform: rotateZ(-45deg);
}

.competence-bg img
{
  margin: auto;
}

.competence-item .spacer
{
  width: 30%;
  margin: 18px auto;
  border: 1px solid rgb(106, 106, 106);
}


#team
{
  background-image: url("../img/teamBG.png");
  background-color: rgba(110, 110, 110, 1);
  background-blend-mode: multiply;
  background-size: 100% 100%;
  padding-top: 120px;
}

#team-graphic
{
  background-image: url("../img/curve.png");
  background-blend-mode: multiply;
  background-size: 100% 100%;
  height: 35%;
  text-align: center;
}

#team-header
{
  display: inline-block;
  margin-bottom: 100px;
}

#team-header h2
{
  color: #ffffff;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0px 0px 28px 0px;
}

#team-header h4
{
  color: #f4f5f9;
  font-weight: normal;
  margin: 0px;
}

#team-content
{
  width: 100%;
  height: 297px;
  display: flex;
  justify-content: space-between;
}

.teammate
{
  display: inline-block;
  width: 20%;
}

.teammate-photo
{
  background-image: url("../img/testphoto.png");
  background-color: rgb(231, 76, 60);
  width: 88px;
  height: 86px;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  border-radius: 50px;
  border: 5px solid rgb(231, 76, 60);
  margin: 0px auto;
  cursor: pointer;
}

.teammate-photo:hover
{
  /* box-shadow: 0px 40px 0 2.25px rgba(0, 0, 0, 0.004); */
  background-blend-mode: screen;
}

.vert-spacer
{
  border: 1px solid white;
  opacity: 0.749;
  width: 1px;
  height: 65px;
  margin: 0px auto;
}

.teammate-info
{
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(255, 255, 255);
}

.teammate-info p:first-child
{
  color: rgb(231, 76, 60);
  font-size: 1.7em;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.misterclass
{
  background-image: url("../img/pas_1.jpg");
}

.nadya
{
  background-image: url("../img/pas_2.jpg");
  margin-top: 8px;
}

.stroganov
{
  background-image: url("../img/pas_3.jpg");
  background-size: 180% 180%;
  background-position: top center;
  margin-top: -20px;
}

.zab
{
  background-size: 1200% 1200%;
  background-position: 41% 42%;
  background-image: url("../img/pas_4.jpg");
}

footer
{
  background-color: rgb(32, 32, 32);
  width: 100%;
  height: 75px;
}

footer span:last-child
{
  margin: auto 0px;
  color: #999999;
}

#socials
{
  margin: auto 0px;
}

#socials img
{
  width: 32px;
  height: 32px;
}

.history
{
  margin: 80px 0px;
}

.history:not(:last-child)
{
  margin: 80px 0px;
  width: 100%;
  padding: 120px 0px;
  box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
}

.history-bg
{
  width: 43%;
  height: 339px;
  background-size: 100% 100%;
  flex: 0 0 auto;

}

.about-bg
{
  background-image: url("../img/monitor.png");
}

.music-bg
{
  background-image: url("../img/music-bg.jpg");
}

.film-bg
{
  background-image: url("../img/film-bg.jpg");
}

.music-bg, .film-bg
{
  height: 248px;
}


.history-content
{
  width: 50%;
  flex: 0 0 auto;
}

.history-content-header
{
  width: 100%;
}

.history-content-header h1
{
  color: #6a6a6a;
  text-transform: uppercase;
  box-sizing: content-box;
  padding-left: 24px;
  border-left: 6px solid rgb(231, 76, 60);
}

.history-text p:not(:last-child)
{
  margin-bottom: 22px
}

.history-text
{
  margin: 38px 0px;
}

.history-text p
{
  color: #999999;
}

.history-content .helper-button
{
  text-align: center;
  background-color: rgb(231, 76, 60);
  box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
  border: 0px solid #ffffff;
}

table
{
  width: 100%;
  border: 1px solid rgb(230, 230, 230);
  margin: 120px 0px;
  color: #999999;
  border-bottom-width: 0px;
}

table caption
{
  color: #6a6a6a;
  font-size: 2.6em;
  font-weight: bolder;
  margin-bottom: 15px;
  text-transform: uppercase;
}

table img
{
  width: 160px;
  height: 160px;
  z-index: -1;
  cursor: pointer;
}

table th:not(:last-child), table td:not(:last-child)
{
  border-right: 1px solid rgb(230, 230, 230);
}

table th
{
  color: #6a6a6a;
  font-size: 1.2em;
}

table th, table td
{
  padding: 8px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

table td
{
  text-align: center;
}

table td p
{
  margin: 20px 0px;
}

#form
{
  width: 100%;
}

#form h2
{
  color: #6a6a6a;
}

#form p, .feedback-form form input, #form span
{
  color: #999999;
}

#form p:first-child
{
  margin-top: 25px;
}

#form p:not(:first-child)
{
  margin-top: 5px;
}

#form .limitation
{
  flex-flow: column nowrap;
}

.form-header
{
  width: 100%;
  text-align: center;
}

.form-header h2
{
  font-size: 2.6em;
  text-transform: uppercase;
}

.feedback
{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.feedback > div
{
  background-color: #ffffff;
  box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
  padding: 78px 70px;
}

.feedback h3
{
  text-transform: uppercase;
  font-size: 1.65em;
  color: #e74e3e;
  margin-bottom: 25px;
}

.feedback-info
{
  width: 40%;
}

.feedback-info-block:not(:last-child)
{
  margin-bottom: 57px;
}

.feedback-main
{
  background-color: #f4f5f9;
}

.feedback-form
{
  width: 55%;
}

.feedback-form input
{
  padding: 6px 10px 13px 10px;
  font-weight: bolder;
}

.feedback-form p
{
  display: inline-block;
}

.feedback-form input[type = "text"], .feedback-form input[type = "password"]
{
  width: 100%;
  border-width: 0px;
  border-bottom: 1px solid rgb(153, 153, 153);
}

.feedback-form input:focus
{
  border-width: 0px;
  outline: none;
  border-bottom: 1px solid rgb(150, 150, 255);
}

.inputBlock
{
  margin-bottom: 20px;
}

.feedback-form select
{
  display: block;
  width: 25%;
  color: #999999;
  font-weight: bolder;
  border-width: 0px;
  border-bottom: 1px solid rgb(153, 153, 153);
}

.feedback-form input[type = "submit"]
{
  display: block;
  margin-top: 30px;
  color: #ffffff;
}

/* Placeholders to form */

form input::placeholder { color: inherit; }
form input:-ms-input-placeholder { color: inherit; }
form input::-ms-input-placeholder { color: inherit; }
form input::-webkit-input-placeholder. { color: inherit; }
form input:-moz-placeholder. { color: inherit; }
form input::-moz-placeholder. { color: inherit; }

form textarea::placeholder { color: inherit; }
form textarea:-ms-input-placeholder { color: inherit; }
form textarea::-ms-input-placeholder { color: inherit; }
form textarea::-webkit-input-placeholder. { color: inherit; }
form textarea:-moz-placeholder. { color: inherit; }
form textarea::-moz-placeholder. { color: inherit; }

.calendar
{
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
  padding: 5px;
}

.calendar-header
{
  width: 100%;
  padding: 4px;
  border-radius: 7px;
  background-color: #e74e3e;
  color: black;
  font-size: 1.2em;
  display: flex;
  justify-content: space-around;
}

.calendar-select
{
  padding: 4px 0px 4px 2px;
  border-radius: 4px;
}

.calendar-text
{
  padding: 5px 0px;
}

.calendar ul
{
  display: flex;
  /* justify-content: space-around; */
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.calendar ul li
{
  width: 13%;
  height: 13%;
  text-align: center;
}

.calendar-content ul
{
  flex-flow: row wrap;
}

.calendar-content ul li:not(.calendar-other-month-day)
{
  cursor: pointer;
}

.calendar-current-day
{
  border: 2px solid black;
  border-radius: 4px;
}

.calendar-other-month-day
{
  color: #B0B0B0;
}

#courses
{
  display: inline-block;
}

.form-buttons
{
  display: flex;
  justify-content: space-between;
}

.form-buttons input
{
  margin: 40px 0px !important;
}

.form-spacer
{
  margin-top: 20px;
}

.failedInput
{
  border: 1px solid red !important;
  border-radius: 5px;
}
.failedInput + p
{
  font-size: 0.75em !important;
  color: red !important;
  margin: 3px 0px 0px 0px;
}

.formBox
{
  width: 550px;
  height: 550px;
  position: fixed;
  left: 30%;
  top: 25%;
  padding: 6px;
  display: none;
  background-color: #ffffff;
  box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.85);
  border: 1px solid black;
  border-radius: 5px;
}

.zoomPhoto h1
{
  text-align: center;
  font-size: 2.3em;
  color: black;
}

.zoomPhoto img, .zoomPhoto .zoomPhotoBG
{
  width: 91%;
  height: 85%;
  display: block;
  margin: 0px auto;
  background-size: 120% 120%;
  background-position: center center;
  z-index: 3;
}

.closeFormHeader
{
  width: 100%;
  height: 30px;
}

.closeFormButton
{
  width: 30px;
  height: 30px;
  float: right;
  background-image: url("../img/closeFormIcon.png");
  background-size: cover;
  cursor: pointer;
}

.readyInput
{
  border: 1px solid green !important;
}

#tableContainer
{
  width: 100%;
  display: flex;
  flex-flow: column;
}
