<footer>
  <div class="limitation">
    <div id="socials">
      <a href="https://vk.com/misterclass"><img src="img/socicon1.png" alt="vk"></a>
    </div>
    <span>Mister Class &copy All Rights Reserved</span>
  </div>
</footer>
