!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "ie=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Web for Mister Zabashtanskyi
    %link{:href => "img/icon.png", :rel => "icon"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
  %body
    #root
      = Haml::Engine.new(File.read('haml/header.haml')).render
      %main
        .history
          .limitation
            .history-bg.about-bg
            .history-content
              .history-content-header
                %h1 Our history
              .history-text
                %p
                  Access denied Access denied Access denied Access denied
                  Access denied Access denied Access denied Access denied Access denied
                  Access denied Access denied!!!
                %p
                  Access denied Access denied Access denied Access denied
                  Access denied Access denied Access denied Access denied Access denied
                  Access denied Access denied, There is NOTHING!!!
              .helper-button
                %span Browse your work
      = Haml::Engine.new(File.read('haml/footer.haml')).render
