!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "ie=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Web for Mister Zabashtanskyi
    %link{:href => "img/icon.png", :rel => "icon"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
  %body
    #root
      = Haml::Engine.new(File.read('haml/header.haml')).render
      %main.main-margin
        #form
          .limitation
            .form-header
              %h2 Feedback
              %p To send message for one pretty boy(:
              .spacer
                %img{:alt => "spacer", :src => "img/spacer.png"}/
            .feedback
              .feedback-info
                .feedback-info-block
                  %h3 Our Adress
                  %p House #13, Dybenko Street, Sevastopol, Russia
                .feedback-info-block
                  %h3 Call Us
                  %p +7 978 555-55-55
                .feedback-info-block
                  %h3 Email Us
                  %p misterclass2909@yandex.ru
                  %p misterclasspol@gmail.com
              .feedback-form
                %form{:action => "mailto:misterclass2909@yandex.ru", :method => "POST", :name => "form"}
                  %input{:autocomplete => "off", :name => "name", :placeholder => "Name", :type => "text"}/
                  %input{:autocomplete => "off", :name => "email", :placeholder => "Email", :type => "text"}/
                  %input{:name => "pol", :type => "radio", :value => "Male"}/
                  %p Male
                  %input{:name => "pol", :type => "radio", :value => "Female"}/
                  %p Female
                  %select#select-age{:form => "form", :name => "age", :size => "1"}
                    %option{:value => "18"} 18
                    %option{:value => "19"} 19
                    %option{:value => "20"} 20
                    %option{:value => "21"} 21
                    %option{:value => "22"} 22
                    %option{:value => "23"} 23
                  %input.helper-button{:type => "submit", :value => "Submit"}/
                  %span Кто дизайнер этой шляпы???
      = Haml::Engine.new(File.read('haml/footer.haml')).render
