!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "ie=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Web for Mister Zabashtanskyi
    %link{:href => "img/icon.png", :rel => "icon"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
  %body
    #root
      = Haml::Engine.new(File.read('haml/header.haml')).render
      %main
        .limitation
          %table
            %caption Photos
            %caption
              Задумка будет реализована в Javascript
              в версии 1.0.1, ибо мне лень делать это в CSS))
            / TODO: Javascript rotation
            %tbody
              -(1..3).each do |i|
                %tr
                  -(1..5).each do |j|
                    %td
                      %img{:alt => "photo", :src => "img/gallery.jpg", :title => "Фото с поворотом"}>/
                      Фото с поворотом

      = Haml::Engine.new(File.read('haml/footer.haml')).render
