%body
  %header
    .limitation
      #header-top
        %a{:href => "index.html"}
          %img{:alt => "Logo", :src => "img/logo.png"}/
        %nav
          %ul
            %li
              %a{:href => "study.html"} My Study
            %li
              %a{:href => "hobby.html"} Hobbies
            %li
              %a{:href => "gallery.html"} My Photo
            %li
              %a{:href => "contacts.html"} Contacts
            %li
              %a{:href => "about.html"} About me
            %li
              %a{:href => "index.html"} Home
      #header-description
        %h2 My honor is my first priority...
        %h1 Welcome, Guys!
        .spacer
          %img{:alt => "spacer", :src => "img/spacer.png"}/
        .text-limiter
          %p
            Greeting you, pretty boys and beauties!
            My name is Paul Polbitsev. I'm web developer and there is my
            first lab)
        .helper-buttons
          .helper-button
            %span Get started now
          .helper-button
            %span Learn more
      #header-pivot
        #header-pivot-body
          %img{:alt => "piv", :src => "img/pivot.png"}/
