!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "ie=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Web for Mister Zabashtanskyi
    %link{:href => "img/icon.png", :rel => "icon"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
  %body
    #root
      = Haml::Engine.new(File.read('haml/header.haml')).render
      %main
        #competence
          .limitation
            .competence-item
              .competence-bg
                .competence-bg-border
                  %img{:alt => "bg", :src => "img/compentence1.png"}/
                %h3 Дизайн
              .spacer
              %p
                Я черпал вдохновения для создания дизайна из psd-макета одного сайта...
                Весь материал и решения черпал оттуда, ибо фиг вам, а не "придумывать свое")
            .competence-item
              .competence-bg
                .competence-bg-border
                  %img{:alt => "bg", :src => "img/compentence2.png"}/
                %h3 Технология
              .spacer
              %p
                Сайт создан с помощью 3-х основных технологий:
                html, css, гребаное терпение.
            .competence-item
              .competence-bg
                .competence-bg-border
                  %img{:alt => "bg", :src => "img/compentence3.png"}/
                %h3 Перспективы
              .spacer
              %p
                Сайт является площадкой для дальнейших лабораторных работ по вебу.
                Возможна разработка нестандартных интересных скриптов.
            .competence-item
              .competence-bg
                .competence-bg-border
                  %img{:alt => "bg", :src => "img/compentence4.png"}/
                %h3 Поддержка
              .spacer
              %p
                Проект поддерживается, пока к нему есть интерес.
                Мой) И... Может еще кого-нибудь.
        #team
          #team-graphic
            #team-header
              %h2 My dream Team
              %h4 С кем я готов работать всегда и везде
              .spacer
                %img{:alt => "spacer", :src => "img/spacer.png"}/
            #team-content
              .limitation
                .teammate
                  .teammate-photo.nadya
                  .vert-spacer
                  .teammate-info
                    %p Жукова Надя
                    %p Working beauty(:
                .teammate
                  .teammate-photo.stroganov
                  .vert-spacer
                  .teammate-info
                    %p Строганов Виктор
                    %p Хороший человек и лучший преподаватель
                .teammate
                  .teammate-photo.zab
                  .vert-spacer
                  .teammate-info
                    %p Забаштанский Андрей
                    %p Бойтесь этого человека...
                .teammate
                  .teammate-photo.misterclass
                  .vert-spacer
                  .teammate-info
                    %p Rafail
                    %p Самый лучший из армян
      = Haml::Engine.new(File.read('haml/footer.haml')).render
