!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "ie=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Web for Mister Zabashtanskyi
    %link{:href => "img/icon.png", :rel => "icon"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
  %body
    #root
      = Haml::Engine.new(File.read('haml/header.haml')).render
      %main
        .limitation
          %table
            %caption Subjects
            %tr
              %th First Semester
              %th Second Semester
              %th Third Semester
              %th Fourth Semester
            %tr
              %td{:colspan => "3"} Алгоритмизация и Программирование
              %td Теория вероятностей и математическая статистика
            %tr
              %td{:colspan => "4"} Иностранный язык
            %tr
              %td{:colspan => "4"} Физическая культура
            %tr
              %td{:colspan => "2"} Физика
              %td Компьютерная графика
              %td Электроника
            %tr
              %td Экология
              %td Экономическая теория
              %td Численные методы
              %td Основы системного анализа
            %tr
              %td Русский язык и культура речи
              %td Основы права
              %td Теория электрических цепей
              %td Операционные системы
            %tr
              %td История
              %td Безопасность жизнедеятельности
              %td Экономика и организация IT предприятия
              %td Теория баз данных
            %tr
              %td{:colspan => "3"} Высшая математика
              %td Основы теории алгоритмов
            %tr
              %td Информатика
              %td Философия
              %td Архитектура компьютерных систем
              %td Технологии создания программных продуктов
            %tr
              %td
              %td{:colspan => "2"} Дискретная математика
              %td Военная кафедра
            %tr
              %td
              %td Учебная практика
              %td{:colspan => "2"} ООП
      = Haml::Engine.new(File.read('haml/footer.haml')).render
